<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title || 'Palmas' %></title>
<link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body class="login-page">
  <main>
    <%- body %>
  </main>
</body>
</html>
