<main class="panel-producto">



<% if (typeof success !== 'undefined' && success) { %>
  <div class="alert alert-success"><%= success %></div>
<% } %>

<% if (typeof error !== 'undefined' && error) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>

<form action="/proveedor/crear" method="POST" class="form-container">
  <h1>Registrar Proveedor</h1>
  <div class="form-group">
    <label for="Nombre">Nombre</label>
    <input type="text" id="Nombre" name="Nombre" required>
  </div>

  <div class="form-group">
    <label for="Direccion">Dirección</label>
    <input type="text" id="Direccion" name="Direccion" required>
  </div>

  <div class="form-group">
    <label for="Telefono">Teléfono</label>
    <input type="text" id="Telefono" name="Telefono" required>
  </div>

  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" id="Email" name="Email" required>
  </div>

  <button type="submit">Registrar</button>
</form>
</main>