<main class="panel-producto">

  <form action="/gasto/crear" method="POST"  class="form-container">
    <h2>  GASTOS </h2>
    <div class="form-group">
      <label for="FechaGasto" >Fecha del Gasto</label>
      <input type="date" class="form-control" id="FechaGasto" name="FechaGasto" required>
    </div>

    <div class="form-group">
      <label for="Descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="Descripcion" name="Descripcion"></textarea>
    </div>

    <div class="form-group">
      <label for="Monto" class="form-label">Monto</label>
      <input type="number" step="0.01" class="form-control" id="Monto" name="Monto" required>
    </div>

    <div class="form-group">
      <label for="CategoriaGastoID" class="form-label">Categoría</label>
      <select class="form-select" id="CategoriaGastoID" name="CategoriaGastoID" required>
        <option value="">Seleccionar...</option>
        <% categorias.forEach(c => { %>
          <option value="<%= c.CategoriaGastoID %>"><%= c.Nombre %></option>
        <% }); %>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>

</main>